* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-size: 2rem;
    background: url(/background/Black\ Hole.gif);
    background-size: 100vw;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-decoration: underline;
    background-image: linear-gradient(to bottom, #001B32, #FFFFEB, #333333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jogo {
    display: flex;
    align-items: center;
    width: 100vw;
}

.tabuleiro {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    margin-left: 39%;
}

.espaco {
    border: 3px solid black;
    margin: 1px;
    border-radius: 7px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: #141F2D;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}   

.espaco:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.pontuacao {
    width: 250px;
    height: 55px;
    transform: translateX(50%);
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 7px;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
}

.mensagemReset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnRestart { 
    padding: 10px;
    font-size: 2rem;
    color: black;
    background-color: transparent;
    border-radius: 7px;
}

#btnRestart:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    transition: 0.3s;
}

.winner {
    font-size: 3rem;
    margin-bottom: 1rem;
    height: 55px;
    background-image: linear-gradient(to bottom, #172A24, #01320B, #05BD68);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
